{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('list') }}">List</a></li>
        <li class="breadcrumb-item"><a href="{{ path('create') }}">Create</a></li>
        <li class="breadcrumb-item active">List</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Phone', 'phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Education', 'education') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Personal data', 'isPersonalData') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Score', 'score') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td><a href="{{ path('edite', {'id': user.id}) }}">{{ user.name }}</a></td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.education }}</td>
                    <td>{{ user.isPersonalData }}</td>
                    <td>{{ user.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}